<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxs-dashboard icon'></i> 
    <div class="logo_name">UPSA</div>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/principal">
        <i class='bx bx-home-alt'></i>
        <span class="links_name">Principal</span>
      </a>
    </li>
    <li>
      <a href="/index">
        <i class='bx bx-book'></i>
        <span class="links_name">Curso</span>
      </a>
    </li>
    
    <li>
      <a href="/">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Cerrar sesión</span>
      </a>
    </li>
  </ul>
</div>
